In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("PersonalityAndCareer.csv")

In [3]:
data.head()

  Computer Science Career Suitable Personality Type
0      Software Developer                      INTP
1        Business Analyst                      ENTJ
2         Project Manager                      ESTJ
3       Quality Assurance                      ISTJ
4          UI/UX Engineer                      ENFP

In [4]:
data.shape

(100, 2)

In [5]:
# check missing or null values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Computer Science Career    100 non-null    object
 1   Suitable Personality Type  100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

In [6]:
# Converting 'Computer Science Career' character values to numbers
result_category_1 = data['Computer Science Career']

In [7]:
from sklearn.preprocessing import LabelEncoder
obj1 = LabelEncoder()
result_1 = obj1.fit_transform(result_category_1)

In [8]:
result_1

array([7, 0, 5, 6, 9, 3, 2, 1, 4, 8, 7, 0, 5, 6, 9, 3, 2, 1, 4, 8, 7, 0,
       5, 6, 9, 3, 2, 1, 4, 8, 7, 0, 5, 6, 9, 3, 2, 1, 4, 8, 7, 0, 5, 6,
       9, 3, 2, 1, 4, 8, 7, 0, 5, 6, 9, 3, 2, 1, 4, 8, 7, 0, 5, 6, 9, 3,
       2, 1, 4, 8, 7, 0, 5, 6, 9, 3, 2, 1, 4, 8, 7, 0, 5, 6, 9, 3, 2, 1,
       4, 8, 7, 0, 5, 6, 9, 3, 2, 1, 4, 8])

In [9]:
# Add a column to the data set
data['CS_Career_result'] = result_1
data

   Computer Science Career Suitable Personality Type  CS_Career_result
0       Software Developer                      INTP                 7
1         Business Analyst                      ENTJ                 0
2          Project Manager                      ESTJ                 5
3        Quality Assurance                      ISTJ                 6
4           UI/UX Engineer                      ENFP                 9
..                     ...                       ...               ...
95          Data Scientist                      INTJ                 3
96   Cybersecurity Analyst                      ISTP                 2
97         Cloud Architect                      ENTP                 1
98        Network Engineer                      ISTJ                 4
99        Technical Writer                      INFP                 8

[100 rows x 3 columns]

In [10]:
# Converting 'Suitable Personality Type' character values to numbers
result_category_2 = data['Suitable Personality Type']

In [11]:
from sklearn.preprocessing import LabelEncoder
obj2 = LabelEncoder()
result_2 = obj2.fit_transform(result_category_2)

In [12]:
result_2

array([6, 1, 3, 7, 0, 5, 8, 2, 7, 4, 6, 1, 3, 7, 0, 5, 8, 2, 7, 4, 6, 1,
       3, 7, 0, 5, 8, 2, 7, 4, 6, 1, 3, 7, 0, 5, 8, 2, 7, 4, 6, 1, 3, 7,
       0, 5, 8, 2, 7, 4, 6, 1, 3, 7, 0, 5, 8, 2, 7, 4, 6, 1, 3, 7, 0, 5,
       8, 2, 7, 4, 6, 1, 3, 7, 0, 5, 8, 2, 7, 4, 6, 1, 3, 7, 0, 5, 8, 2,
       7, 4, 6, 1, 3, 7, 0, 5, 8, 2, 7, 4])

In [13]:
# Add a column to the data set
data['Personality_result'] = result_2

In [14]:
data

,Computer Science Career,Suitable Personality Type,CS_Career_result,Personality_result
0,Software Developer,INTP,7,6
1,Business Analyst,ENTJ,0,1
2,Project Manager,ESTJ,5,3
3,Quality Assurance,ISTJ,6,7
4,UI/UX Engineer,ENFP,9,0
...,...,...,...,...
95,Data Scientist,INTJ,3,5
96,Cybersecurity Analyst,ISTP,2,8
97,Cloud Architect,ENTP,1,2
98,Network Engineer,ISTJ,4,7
99,Technical Writer,INFP,8,4

In [15]:
x =  data[['CS_Career_result']]

In [16]:
y = data['Personality_result']

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2)

In [18]:
x_train.shape

(80, 1)

In [19]:
x_test.shape

(20, 1)

# Decision Tree

In [20]:
# Implementing the decision tree model & Training the model
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [21]:
pred = model.predict(x_test)

In [22]:
y_test

73    7
49    4
11    1
42    3
88    7
57    2
36    8
90    6
92    3
7     2
60    6
24    0
61    1
40    6
10    6
34    0
95    5
33    7
25    5
3     7
Name: Personality_result, dtype: int32

In [23]:
# Test the accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

1.0