In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("mostRequiredSkill.csv")

In [3]:
data.head()

               Career Personality Type                Skill
0  Software Developer             INTP  Analytical thinking
1    Business Analyst             ENTJ   Strategic planning
2     Project Manager             ESTJ      Time management
3   Quality Assurance             ISTJ  Attention to detail
4      UI/UX Engineer             ENFP           Creativity

In [4]:
data.shape

(68, 3)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Career            68 non-null     object
 1   Personality Type  68 non-null     object
 2   Skill             68 non-null     object
dtypes: object(3)
memory usage: 1.7+ KB

In [6]:
# Convert text values to numeric values
career_convertion_result = data['Career']
from sklearn.preprocessing import LabelEncoder
obj1 = LabelEncoder()
result1 = obj1.fit_transform(career_convertion_result)

In [7]:
result1

array([7, 0, 5, 6, 9, 3, 2, 1, 4, 8, 7, 0, 5, 6, 9, 3, 2, 1, 4, 8, 7, 0,
       5, 6, 9, 3, 2, 1, 4, 8, 7, 0, 5, 6, 9, 3, 2, 1, 4, 8, 7, 0, 5, 6,
       9, 3, 2, 1, 4, 8, 7, 0, 5, 6, 9, 3, 2, 1, 4, 8, 7, 0, 5, 6, 9, 3,
       2, 1])

In [8]:
# Add new column and save the text to numeric conversion result
data['Career_result'] = result1
data

,Career,Personality Type,Skill,Career_result
0,Software Developer,INTP,Analytical thinking,7
1,Business Analyst,ENTJ,Strategic planning,0
2,Project Manager,ESTJ,Time management,5
3,Quality Assurance,ISTJ,Attention to detail,6
4,UI/UX Engineer,ENFP,Creativity,9
...,...,...,...,...
63,Quality Assurance,ISTJ,Attention to detail,6
64,UI/UX Engineer,ENFP,Creativity,9
65,Data Scientist,INTJ,Statistical analysis,3
66,Cybersecurity Analyst,ISTP,Problem solving,2
67,Cloud Architect,ENTP,Innovation,1

In [9]:
# Convert text values to numeric values
personality_convertion_result = data['Personality Type']
from sklearn.preprocessing import LabelEncoder
obj2 = LabelEncoder()
result2 = obj2.fit_transform(personality_convertion_result)

In [10]:
result2

array([6, 1, 3, 7, 0, 5, 8, 2, 7, 4, 6, 1, 3, 7, 0, 5, 8, 2, 7, 4, 6, 1,
       3, 7, 0, 5, 8, 2, 7, 4, 6, 1, 3, 7, 0, 5, 8, 2, 7, 4, 6, 1, 3, 7,
       0, 5, 8, 2, 7, 4, 6, 1, 3, 7, 0, 5, 8, 2, 7, 4, 6, 1, 3, 7, 0, 5,
       8, 2])

In [11]:
data['Personality_result'] = result2
data

,Career,Personality Type,Skill,Career_result,Personality_result
0,Software Developer,INTP,Analytical thinking,7,6
1,Business Analyst,ENTJ,Strategic planning,0,1
2,Project Manager,ESTJ,Time management,5,3
3,Quality Assurance,ISTJ,Attention to detail,6,7
4,UI/UX Engineer,ENFP,Creativity,9,0
...,...,...,...,...,...
63,Quality Assurance,ISTJ,Attention to detail,6,7
64,UI/UX Engineer,ENFP,Creativity,9,0
65,Data Scientist,INTJ,Statistical analysis,3,5
66,Cybersecurity Analyst,ISTP,Problem solving,2,8
67,Cloud Architect,ENTP,Innovation,1,2

In [12]:
# Convert text values to numeric values
skill_convertion_result = data['Skill']
from sklearn.preprocessing import LabelEncoder
obj3 = LabelEncoder()
result3 = obj3.fit_transform(skill_convertion_result)

In [13]:
data['Skill_result'] = result3
data

,Career,Personality Type,Skill,Career_result,Personality_result,Skill_result
0,Software Developer,INTP,Analytical thinking,7,6,0
1,Business Analyst,ENTJ,Strategic planning,0,1,6
2,Project Manager,ESTJ,Time management,5,3,8
3,Quality Assurance,ISTJ,Attention to detail,6,7,1
4,UI/UX Engineer,ENFP,Creativity,9,0,2
...,...,...,...,...,...,...
63,Quality Assurance,ISTJ,Attention to detail,6,7,1
64,UI/UX Engineer,ENFP,Creativity,9,0,2
65,Data Scientist,INTJ,Statistical analysis,3,5,5
66,Cybersecurity Analyst,ISTP,Problem solving,2,8,4
67,Cloud Architect,ENTP,Innovation,1,2,3

In [14]:
x = data[['Personality_result','Skill_result']]

In [15]:
y = data['Career_result']

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2)

In [17]:
x_train.shape

(54, 2)

In [18]:
x_test.shape

(14, 2)

# Train the model - Decision Tree

In [19]:
# Implementing the decision tree model & Training the model
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [20]:
pred = model.predict(x_test)

In [21]:
y_test

20    7
7     1
52    5
24    9
41    0
43    6
60    7
55    3
36    2
17    1
21    0
26    2
58    4
56    2
Name: Career_result, dtype: int32

In [22]:
# Test the accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

1.0

In [23]:
# Reversing lable encoder
# Get the text values of test set of y
y_inverted = obj1.inverse_transform(y_test)
y_inverted

array(['Software Developer', 'Cloud Architect', 'Project Manager',
       'UI/UX Engineer', 'Business Analyst', 'Quality Assurance',
       'Software Developer', 'Data Scientist', 'Cybersecurity Analyst',
       'Cloud Architect', 'Business Analyst', 'Cybersecurity Analyst',
       'Network Engineer', 'Cybersecurity Analyst'], dtype=object)

In [24]:
# Get the real text values of predicted
pred_inverted = obj1.inverse_transform(pred)
pred_inverted

array(['Software Developer', 'Cloud Architect', 'Project Manager',
       'UI/UX Engineer', 'Business Analyst', 'Quality Assurance',
       'Software Developer', 'Data Scientist', 'Cybersecurity Analyst',
       'Cloud Architect', 'Business Analyst', 'Cybersecurity Analyst',
       'Network Engineer', 'Cybersecurity Analyst'], dtype=object)

In [26]:
#More information about the y_test values vs predicted data values
y_test_pred_result = pd.DataFrame(data=[y_inverted, pred_inverted], index = ['y_test','pred'])
y_test_pred_result.transpose()

                   y_test                   pred
0      Software Developer     Software Developer
1         Cloud Architect        Cloud Architect
2         Project Manager        Project Manager
3          UI/UX Engineer         UI/UX Engineer
4        Business Analyst       Business Analyst
5       Quality Assurance      Quality Assurance
6      Software Developer     Software Developer
7          Data Scientist         Data Scientist
8   Cybersecurity Analyst  Cybersecurity Analyst
9         Cloud Architect        Cloud Architect
10       Business Analyst       Business Analyst
11  Cybersecurity Analyst  Cybersecurity Analyst
12       Network Engineer       Network Engineer
13  Cybersecurity Analyst  Cybersecurity Analyst

In [34]:
input_values = [[6, 0]]
pred_result = model.predict(input_values)
pred_result

D:\Program Files\Python310\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

ValueError: could not convert string to float: 'INTP'